@import 'https://cdn.jsdelivr.net/npm/@vue-flow/core@1.14.2/dist/style.css';
@import 'https://cdn.jsdelivr.net/npm/@vue-flow/core@1.14.2/dist/theme-default.css';
@import 'https://cdn.jsdelivr.net/npm/@vue-flow/controls@latest/dist/style.css';
@import 'https://cdn.jsdelivr.net/npm/@vue-flow/minimap@latest/dist/style.css';
@import 'https://cdn.jsdelivr.net/npm/@vue-flow/node-resizer@latest/dist/style.css';


:root {
  --grey: #e5e7eb;
  --item-background-color: #fff;

  --header-height: 60px;
  --items-width: 150px;
  --content-width: 250px;
}

* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  overflow-x: hidden;
  margin: 0;
}

.header {
  background-color: var(--grey);
  height: var(--header-height);
  border-bottom: 1px solid gray;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(80, 80, 80);
  font-family: 'Courier New', Courier, monospace;
}

.container {
  height: calc(100vh - var(--header-height));
  display: flex;
  flex-direction: row;
}

.container .container-items {
  width: var(--items-width);
  background-color: var(--grey);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container .container-items .item {
  background-color: var(--item-background-color);
  padding: 5px;
  margin: 5px;
  cursor: pointer;
}

.container .container-editor {
  width: 100vw;
}

.container .container-content-element {
  width: var(--content-width);
  background-color: var(--grey);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container .container-content-element textarea, input {
  width: 100%;
  margin: 10px 0 10px 0;
}

.container .container-content-element label {
  width: 100%;
  margin: 10px 0 10px 0;
  font-family: 'Courier New', Courier, monospace;
}

.clear-button {
  background-color: red;
  border: none;
  padding: 5px 10px 5px 10px;
  cursor: pointer;
}

.form-input {
  
}