:root {
  --grey: #e5e7eb;
  --item-background-color: #b6b8bb;

  --header-height: 60px;
  --items-width: 150px;
  --content-width: 250px;
}

* {
  box-sizing: border-box;
}

body {
  height: 100vh;
  overflow-x: hidden;
  margin: 0;
}

.header {
  background-color: var(--grey);
  height: var(--header-height);
}

.container {
  height: calc(100vh - var(--header-height));
  display: flex;
  flex-direction: row;
}

.container .container-items {
  width: var(--items-width);
  background-color: var(--grey);
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.container .container-items .item {
  background-color: var(--item-background-color);
  border-radius: 5px;
  padding: 5px;
  margin: 5px;
}

.container .container-editor {
  width: 100vw;
}

.container .container-content-element {
  width: var(--content-width);
  background-color: var(--grey);
}